{% extends "base.html" %}

{% block title %}
Caesar Cipher
{% endblock %}

<!-- Replacement for Content -->
{% block content %}
<h1>Caesar Cipher (AKA Shift Cipher)</h1>
<p>The Caesar cipher is one of the first known ciphers to be used and is elementary in nature.</p>
<p>Also known as the shift cipher, this cipher is known as a substitution cipher, such that each letter in the plaintext message is shifted a consistent amount down the alphabet.</p>
<p>For instance, the message "dog" with a shift of 1 would become "eph" as the letter 1 after 'd' is 'e', 1 after 'o' is 'p' and 1 after 'g' is 'h'</p>
<p>Try the cipher out for yourself using the form below!</p>
<form action="{{url_for('caesar')}}" method="POST">
    Select Whether to Encipher or Decipher a Message:<br>
    {% if request.form['cipher_option'] == 'decipher' %}
        {% set encipherChecked = '' %}
        {% set decipherChecked = 'checked' %}
    {% else %}
        {% set encipherChecked = 'checked' %}
        {% set decipherChecked = '' %}
    {% endif %}
    <input type="radio" id="encipher" name="cipher_option" value="encipher" required {{ encipherChecked}}>
    <label for="encipher">Encipher</label><br>
    <input type="radio" id="decipher" name="cipher_option" value="decipher" required {{ decipherChecked }}>
    <label for="decipher">Decipher</label><br>
    Shift Amount (Enter a number between 0 & 25):<br>
    <input type="number" name="shift" min="0" max="25" value="{{ request.form['shift'] }}" required>
    <br>
    Text to Encipher:<br>
    <input type="text" name="message" value="{{ request.form['message'] }}" required>
    <br><br>
    <input type="submit" value="Cipher">
</form>
{% if encipher %}
<h2>Your new message:<br />{{ encipher }}</h2>
{% endif %}
{% endblock %}