{% extends "base.html" %}

{% block title %}
Vigenere Cipher
{% endblock %}

<!-- Replacement for Content -->
{% block content %}
<h1>Vigenere Cipher</h1>
<p>Vigenere cipher description will go here</p>
<form action="{{url_for('vigenere')}}" method="POST">
    Select Whether to Encipher or Decipher a Message:<br>
    {% if request.form['cipher_option'] == 'decipher' %}
        {% set encipherChecked = '' %}
        {% set decipherChecked = 'checked' %}
    {% else %}
        {% set encipherChecked = 'checked' %}
        {% set decipherChecked = '' %}
    {% endif %}
    <input type="radio" id="encipher" name="cipher_option" value="encipher" required  {{ encipherChecked }}>
    <label for="encipher">Encipher</label><br>
    <input type="radio" id="decipher" name="cipher_option" value="decipher" required {{ decipherChecked }}>
    <label for="decipher">Decipher</label><br>
    Key Word (lower case letters only please!):<br>
    <input type="text" name="key" pattern="[a-z]*" value="{{ request.form['key'] }}" required>
    <br>
    Text to Encipher:<br>
    <input type="text" name="message" value="{{ request.form['message'] }}" required>
    <br><br>
    <input type="submit" value="Cipher">
</form>
{% if encipher %}
<h2>Your new message:<br />{{ encipher }}</h2>
{% endif %}
{% endblock %}