{% extends "base.html" %}

{% block title %}
Vigenere Cipher
{% endblock %}

<!-- Replacement for Content -->
{% block content %}
<h1>Vigenere Cipher</h1>
<p>Vigenere cipher description will go here</p>
<form action="{{url_for('vigenere')}}" method="POST">
    Select Whether to Encipher or Decipher a Message:<br>
    <input type="radio" id="encipher" name="cipher_option" value="encipher" required>
    <label for="encipher">Encipher</label><br>
    <input type="radio" id="decipher" name="cipher_option" value="decipher">
    <label for="decipher">Decipher</label><br>
    Key Word (lower case letters only please!):<br>
    <input type="text" name="key" pattern="[a-z]" required>
    <br>
    Message to Encipher:<br>
    <input type="text" name="message" required>
    <br><br>
    <input type="submit" value="Encipher">
</form>
{% if encipher %}
<h2>Your enciphered message: {{ encipher }}</h2>
{% endif %}
{% endblock %}